<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>session - Downloader</title>
</head>
<body>
    <div style="margin:0 auto;">

        <form action="/session-downloader" method="POST">
            <label for="url">Enter Link:</label>
            <input type="text" id="url" name="url" required style="width:700px;">
            <button type="submit">Submit</button>
        </form>
        
    </div>
</body>
</html>